
<div  class="w-100 justify-content-center card glass-morphism-card my-4">
  <div class="align-self-center card-body pt-0"> 
    <div class="text-center">
      <img height="140px" width="150px" src="../../assets/Logo-0٦.png" alt="Connect logo">
    </div>
    <h2 class="card-title text-center">إستقبال المقترحات و الشكاوي</h2>
    
    <div *ngIf="!successMsg && errorMsg" class="w-50 mx-auto alert alert-danger mt-3 mb-1 text-center">
      {{ errorMsg }}
    </div>

    <div *ngIf="!errorMsg && successMsg" class="w-50 mx-auto alert alert-success mt-3 mb-1 text-center">
      {{ successMsg }}
    </div>

    <form (ngSubmit)="onSubmit(opForm)" #opForm="ngForm">
      <div class="text-right form-group">
          <label class="label" for="opinion">*رأيك لن يفصح عن هويتك - في حالة امتناعك عن الافصاح عن قسمك، يرجى إختيار "أفضل عدم الإفصاح"</label>
          <textarea type="text" 
                    class="form-control mb-4 form-group" 
                    ngModel 
                    name="feedback"
                    #feedback="ngModel"
                    rows = "4"
                    required></textarea>
      </div>  
      <div class="form-group text-right">
        <label>القسم</label>
        <select class="form-control"
                name="dep"
                #dep="ngModel"
                ngModel
                required>
          <option *ngFor="let dep of deps" [ngValue]="dep">{{dep}}</option>
        </select>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <label for="">إستلام رد</label>
        </div>
        <div>
          <label class="switch" for="checkbox">
            <input type="checkbox" id="checkbox" (click)="toggleReceiveReply = !toggleReceiveReply;" />
            <div class="slider round"></div>
          </label>
        </div>
      </div>
      <div class="text-right form-group" *ngIf="toggleReceiveReply">
          <label>البريد الإلكتروني أو رقم الهاتف الذي تود إستلام الرد عليه</label>
          <input type="text" 
                    class="form-control mb-4 form-group" 
                    ngModel 
                    name="email_or_phone"
                    #email_or_phone="ngModel"
                    placeholder="للمحافطة على هويتك، يمكن لك صنع بريد إلكتروني بإسم مستعار">
      </div>  
      <div class="text-center">
        <button type="submit" [disabled]="!opForm.form.valid" class="mx-auto w-25 text-center btn btn-danger">
          
          <div *ngIf="loading" class="text-center">
            <div class="spinner-border spinner-border-sm text-light h5"></div>
          </div>
          <ng-container *ngIf="!loading">
            إرسال
          </ng-container>
        </button>
        <button hidden type="button" #openModal data-toggle="modal" (click)="clickBtn()" data-target="#popup">click me</button>
      </div>
    </form>
  </div> 
</div>

<div class="modal fade show" tabindex="-1" role="dialog" id="popup">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-between">
        <div><h5 class="modal-title">تنويه</h5></div>
        <div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <div class="modal-body text-right">
        <p>نود أن نؤكد لكم مصداقية عمل هذه الأداة، وأن كل الرسائل المرسلة <b>مجهولة تماماً</b>، وتؤخذ على محمل الجد، سواء تم استلام الشكوى بهوية أو بغير هوية، و عليه نحب أن نوضح بعض النقاط:</p>
          <ol>
            <li>أضفنا خاصية <b><u>إختيارية</u></b> تمكّن مُرسل الاقتراح أو الشكوى <b>إستقبال رد</b> على شكواه، يمكنكم وضع بياناتكم الرسمية من بريد إلكتروني أو هاتف شخصي، أو استخدام بريد إلكتروني وهمي في حال لا تودون الكشف عن هوياتكم، فالأمرين متاحين.
            </li>
            <li>الشكوى تصل مباشرة للبريد الإلكتروني hr@iontel.ly.</li>
            <li>في قائمة الأقسام هناك اختيار "لا أريد الإفصاح" يمكنك اختياره في حالة رغبتك عن التحفط عن قسمك.</li>
          </ol>
          <p>شكرًا لتعاونكم وصراحتكم.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">حسناً</button>
      </div>
    </div>
  </div>
</div>   
