/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Cairo', sans-serif;
    direction: rtl;
}
html, body {
    height: 100%;
}

.fill-height{
    min-height: 100%;
    height: 100%;
}
